<?xml version="1.0"?>

<!--
 Created by vithal wadje for C# corner Contribution on 28-12-2012
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="pdfconn" connectionString="Data Source=datasourcename;Initial Catalog=databasename;User ID=username;Password=sqlpassword"
     providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  
</configuration>
